body {
    background-image: url('./assets/netflix-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: black
}

#navbar-brand {
    color: rgb(229, 9, 20);
    font-weight: bold;
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    transform-origin: 0 0;
    transform: scaleX(80) rotateY(89.5deg);
    perspective: 1000px;
    perspective-origin: 50% 0;
    display: inline-flex;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: bolder;
    height: auto;
    line-height: 24px;
    transform-box: view-box;
    width: auto;
    -webkit-font-smoothing: antialiased;
}